<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register a new user here</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div>
            <h2>Register yourself into unsecure forum!</h2>
            <a href="/">&lt;-- back to index</a>
            <form action="#" th:action="@{/registration}" method="POST" th:object="${userForm}">
                <p><label for="username">Username</label>: <input type="text" name="username" th:field="*{username}" id="username"/></p>
                <p><label for="password">Password</label>: <input type="password" name="password" th:field="*{password}"  id="password"/></p>
                <p><label for="passwordConfirm">Password again</label>: <input type="password" name="passwordConfirm" th:field="*{passwordConfirm}" id="passwordConfirm"/></p>
                <p><input type="submit" value="Submit" /></p>
            </form>
        </div>
    </body>
</html>
